@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    width: 100%;
  }
}
card {
  background-color: white;
}
html,
body {
  height: 100%;
  width: 100%;
  color: #222;
}
/* utility class*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #009970;
}

a:hover {
  color: #009970;
  text-decoration: none;
}

.contact h2 {
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  text-align: center;
}
.contact-green-hr {
  width: 60px;
  display: block;
  height: 2px;
  background: #009970;
}
.contact a {
  color: #009970;
  font-weight: bold;
}
.contact-h4 {
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.line {
  border: 1.2px solid #000;
}
/*form part*/
.contact label {
  font-size: 20px;
  font-weight: bold;
}
.contact input,
.contact textarea {
  border: 1px solid #000;
  background-color: gainsboro;
}

.contact input:focus,
.contact textarea:focus {
  box-shadow: 2px 2px 2px 2px #009970 !important ;
}
.contact button {
  border-color: #009970 !important ;
  color: #009970 !important;
  font-weight: bold;
}
.contact button:hover {
  background-color: #009970 !important ;
  color: #fff !important;
}

@keyframes sm-am {
  0% {
    top: 90%;
    left: -110%;
  }
  50% {
    top: -30%;
    left: 10%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
